:root {
  --orange: #F56C43;
  --orange-light: #ff6d4020;
  --white: #FFFFFF;
  --black: #000000;
  --black-light: #131313;
  --grey: #999999;
  --green: #3CDC4C;
  --red: #FF4242;
}

:root {
  --text-color: var(--black);
  --background-color: var(--white);
}

 
body {
  max-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 23px;
  font-family: Arial;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


